@font-face {
  font-family: Outfit;
  src: url("../fonts/Outfit-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url("../fonts/Outfit-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 700;
}
